In [22]:
import pandas as pd
import seaborn as sns

In [23]:
country_list={'Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Denmark',
 'Estonia', 'Finland', 'France', 'Germany' ,'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 
 'Latvia', 'Lithuania', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovenia', 
 'South Africa', 'Spain', 'Sweden', 'Switzerland', 'Turkey'}

In [24]:
df = pd.read_csv('COVID-19_vaccination_rates.csv') 
df=df.loc[(df["date"]=="2021-10-25")].loc[(df["location"].isin(country_list))] # select date and countries
df=df[["location","people_fully_vaccinated_per_hundred"]] # reduce to countries and percentage of vaccinated ppl
df.rename(columns={'location': 'Country Name'}, inplace=True)
df

       Country Name  people_fully_vaccinated_per_hundred
3869      Australia                                61.01
4216        Austria                                62.03
6449        Belgium                                73.63
8779         Brazil                                52.13
10691        Canada                                73.73
12031         Chile                                76.72
12684      Colombia                                40.42
13655    Costa Rica                                  NaN
16024       Denmark                                75.72
18716       Estonia                                56.70
20911       Finland                                68.51
21258        France                                67.70
22709       Germany                                65.77
23655        Greece                                61.20
27056       Hungary                                59.39
27400       Iceland                                  NaN
28984       Ireland                                75.23
29660        Israel                                61.64
30007         Italy                                70.92
30577         Japan                                70.45
33421        Latvia                                52.64
35108     Lithuania                                63.67
38936        Mexico                                41.34
42276   Netherlands                                  NaN
42880   New Zealand                                58.40
45389        Norway                                68.28
48456        Poland                                52.51
48803      Portugal                                87.19
54904      Slovenia                                53.50
55664  South Africa                                19.48
56871         Spain                                79.69
58039        Sweden                                  NaN
58392   Switzerland                                62.92
61281        Turkey                                56.70

In [25]:
df0 = pd.read_csv('gdp_per_capita.csv') 
df0=df0.loc[(df0["Country Name"].isin(country_list))][["Country Name","2020"]] # select countries and reduce to gdp
df0.rename(columns={'2020': 'gdp_per_capita_2020'}, inplace=True)
df0

     Country Name  gdp_per_capita_2020
13      Australia         52397.387048
14        Austria         55648.874565
17        Belgium         52626.581638
29         Brazil         14829.890417
35         Canada         48090.992167
37    Switzerland         71760.586213
39          Chile         25067.691601
45       Colombia         14570.236743
48     Costa Rica         21143.342817
55        Germany         54263.649615
58        Denmark         60551.640172
70          Spain         38343.155224
71        Estonia         37925.116799
75        Finland         50810.527408
77         France         46712.010113
89         Greece         28377.394274
101       Hungary         33253.880030
111       Ireland         95237.241299
114       Iceland         55224.684802
115        Israel         42390.877554
116         Italy         41890.208794
119         Japan         41732.868615
143     Lithuania         39191.948714
145        Latvia         32212.393162
154        Mexico         18793.744539
176   Netherlands         59334.214839
177        Norway         63287.607008
180   New Zealand         44212.876475
190        Poland         34406.235101
194      Portugal         34090.731264
222      Slovenia         40124.260229
223        Sweden         54929.527336
244        Turkey         28113.736584
263  South Africa         13355.598709

In [26]:
df1 = pd.read_csv('unemployment_rate.csv') 
df1 = df1.loc[(df1["Country Name"].isin(country_list))][["Country Name","2020"]] # select and reduce
df1.rename(columns={"2020": "unemplyment_2020"}, inplace=True)
df1

     Country Name  unemplyment_2020
13      Australia              6.61
14        Austria              5.77
17        Belgium              6.01
29         Brazil             13.67
35         Canada              9.48
37    Switzerland              4.94
39          Chile             11.51
45       Colombia             15.44
48     Costa Rica             17.08
55        Germany              4.31
58        Denmark              5.66
70          Spain             15.67
71        Estonia              6.46
75        Finland              7.83
77         France              8.62
89         Greece             16.85
101       Hungary              4.35
111       Ireland              5.92
114       Iceland              5.01
115        Israel              4.61
116         Italy              9.31
119         Japan              2.97
143     Lithuania              8.43
145        Latvia              8.19
154        Mexico              4.71
176   Netherlands              4.09
177        Norway              4.62
180   New Zealand              4.55
190        Poland              3.55
194      Portugal              7.20
222      Slovenia              5.17
223        Sweden              8.45
244        Turkey             13.92
263  South Africa             28.74

In [27]:
df2 = pd.read_csv('political_regime.csv')   ## we only have democracy anyways... Not enough data for not else
df2 = df2.loc[(df2["Country"].isin(country_list))]
df2 = df2.loc[(True==pd.isnull(df2["end yr"]))][["Country","Regime type"]]
#df2 = df2.rename(columns={"Country": "Country Name"}, inplace=True)
df2

         Country Regime type
24     Australia   democracy
25       Austria   democracy
37       Belgium   democracy
62        Brazil   democracy
83        Canada   democracy
103     Colombia   democracy
114   Costa Rica   democracy
123      Denmark   democracy
146      Estonia   democracy
150      Finland   democracy
151       France   democracy
172       Greece   democracy
213      Hungary   democracy
214      Iceland   democracy
227      Ireland   democracy
228       Israel   democracy
229        Italy   democracy
233        Japan   democracy
252       Latvia   democracy
269    Lithuania   democracy
291       Mexico   democracy
309  Netherlands   democracy
310  New Zealand   democracy
326       Norway   democracy
363       Poland   democracy
366     Portugal   democracy
389     Slovenia   democracy
401        Spain   democracy
414       Sweden   democracy
415  Switzerland   democracy
451       Turkey   democracy

In [28]:
df3 = pd.read_csv('trust_in_government.csv')  ## erweitere auf alle Länder
df3 = df3.loc[(df3["LOCATION"].isin(locations))].loc[(df3["TIME"]==2019)][["LOCATION","Value"]]
df3

NameError: name 'locations' is not defined

In [32]:
df4 = pd.read_csv('higher_education_rate.csv')  ## NOT HAPPY
df4 = df4.loc[(df4["Country Name"].isin(country_list))][["Country Name","2019"]]
df4.rename(columns={'2019': 'education_2019'}, inplace=True)
df4

     Country Name  education_2019
13      Australia       33.094780
14        Austria       15.363630
17        Belgium       35.304008
29         Brazil             NaN
35         Canada             NaN
37    Switzerland             NaN
39          Chile             NaN
45       Colombia       12.067960
48     Costa Rica             NaN
55        Germany             NaN
58        Denmark             NaN
70          Spain             NaN
71        Estonia             NaN
75        Finland       25.935089
77         France       19.700541
89         Greece             NaN
101       Hungary             NaN
111       Ireland             NaN
114       Iceland       36.142879
115        Israel             NaN
116         Italy             NaN
119         Japan             NaN
143     Lithuania             NaN
145        Latvia       30.935310
154        Mexico             NaN
176   Netherlands             NaN
177        Norway       29.289930
180   New Zealand             NaN
190        Poland             NaN
194      Portugal       20.723770
222      Slovenia       21.509100
223        Sweden       25.079590
244        Turkey             NaN
263  South Africa        8.017760

In [33]:
df5 = pd.read_csv('worldwide_covid_data.csv')                                 
## data: https://www.kaggle.com/uniquekale/covid-19-data-analysis-2021/data -> date to be added
df5.rename(columns={"Country": "Country Name"}, inplace=True)
df5 = df5.loc[(df5["Country Name"].isin(country_list))][["Country Name","Deaths/1M population"]]


df5

     Country Name  Deaths/1M population
9       Australia                    71
10        Austria                  1273
17        Belgium                  2247
25         Brazil                  2842
33         Canada                   765
37          Chile                  1959
39       Colombia                  2472
42     Costa Rica                  1391
48        Denmark                   471
58        Estonia                  1222
62        Finland                   218
63         France                  1803
69        Germany                  1157
71         Greece                  1585
81        Hungary                  3274
82        Iceland                    99
87        Ireland                  1096
88         Israel                   872
89          Italy                  2196
92          Japan                   145
99         Latvia                  1917
105     Lithuania                  2312
117        Mexico                  2216
127   Netherlands                  1083
129   New Zealand                     6
134        Norway                   169
143        Poland                  2063
144      Portugal                  1794
163      Slovenia                  2335
165  South Africa                  1482
167         Spain                  1872
172        Sweden                  1476
173   Switzerland                  1294
183        Turkey                   847

In [34]:
data = pd.merge(df, df0, on="Country Name")
data = pd.merge(data, df1, on="Country Name")
#data = pd.merge(data, df2, on="Country Name")  ## sowieso alles Demokratien
data = pd.merge(data, df4, on="Country Name")
data = pd.merge(data, df5, on="Country Name")

data

,Country Name,people_fully_vaccinated_per_hundred,gdp_per_capita_2020,unemplyment_2020,education_2019,Deaths/1M population
0,Australia,61.01,52397.387048,6.61,33.094780,71
1,Austria,62.03,55648.874565,5.77,15.363630,1273
2,Belgium,73.63,52626.581638,6.01,35.304008,2247
3,Brazil,52.13,14829.890417,13.67,NaN,2842
4,Canada,73.73,48090.992167,9.48,NaN,765
5,Chile,76.72,25067.691601,11.51,NaN,1959
6,Colombia,40.42,14570.236743,15.44,12.067960,2472
7,Costa Rica,NaN,21143.342817,17.08,NaN,1391
8,Denmark,75.72,60551.640172,5.66,NaN,471
9,Estonia,56.70,37925.116799,6.46,NaN,1222
10,Finland,68.51,50810.527408,7.83,25.935089,218
11,France,67.70,46712.010113,8.62,19.700541,1803
12,Germany,65.77,54263.649615,4.31,NaN,1157
13,Greece,61.20,28377.394274,16.85,NaN,1585
14,Hungary,59.39,33253.880030,4.35,NaN,3274
15,Iceland,NaN,55224.684802,5.01,36.142879,99
16,Ireland,75.23,95237.241299,5.92,NaN,1096
17,Israel,61.64,42390.877554,4.61,NaN,872
18,Italy,70.92,41890.208794,9.31,NaN,2196
19,Japan,70.45,41732.868615,2.97,NaN,145
20,Latvia,52.64,32212.393162,8.19,30.935310,1917
21,Lithuania,63.67,39191.948714,8.43,NaN,2312
22,Mexico,41.34,18793.744539,4.71,NaN,2216
23,Netherlands,NaN,59334.214839,4.09,NaN,1083
24,New Zealand,58.40,44212.876475,4.55,NaN,6
25,Norway,68.28,63287.607008,4.62,29.289930,169
26,Poland,52.51,34406.235101,3.55,NaN,2063
27,Portugal,87.19,34090.731264,7.20,20.723770,1794
28,Slovenia,53.50,40124.260229,5.17,21.509100,2335
29,South Africa,19.48,13355.598709,28.74,8.017760,1482
30,Spain,79.69,38343.155224,15.67,NaN,1872
31,Sweden,NaN,54929.527336,8.45,25.079590,1476
32,Switzerland,62.92,71760.586213,4.94,NaN,1294
33,Turkey,56.70,28113.736584,13.92,NaN,847