In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('worldwide_covid_data.csv')[['']]

In [3]:
df

,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Cases/1M population,Deaths/1M population,Total Tests,Tests/1M population,Population
0,Afghanistan,156397,7290,128982.0,20125.0,3899,182,777578.0,19384.0,40114009
1,Albania,190125,2970,178998.0,8157.0,66164,1034,1334004.0,464238.0,2873536
2,Algeria,207385,5954,142332.0,59099.0,4616,133,230861.0,5139.0,44922583
3,Andorra,15717,130,15392.0,195.0,202975,1679,193595.0,2500161.0,77433
4,Angola,64762,1723,61092.0,1947.0,1891,50,1140341.0,33297.0,34247275
...,...,...,...,...,...,...,...,...,...,...
191,Venezuela,414220,4976,399768.0,9476.0,14623,176,3359014.0,118581.0,28326676
192,Vietnam,984805,22686,842800.0,119319.0,9995,230,62739785.0,636790.0,98525092
193,Yemen,9891,1915,6571.0,1405.0,322,62,265253.0,8636.0,30714411
194,Zambia,209918,3664,206091.0,163.0,11002,192,2637039.0,138212.0,19079720
195,Zimbabwe,133242,4691,128153.0,398.0,8791,310,1533593.0,101188.0,15155848